
@{
    ViewData["Title"] = "Sum";
    int first = Convert.ToInt32(@ViewData["first"]);
    int second = Convert.ToInt32(@ViewData["second"]);
    int ans = first + second;
}



<h1>The sum of @ViewData["first"] and @ViewData["second"] is  @ans</h1>

